body {
  margin: 0 auto 62px auto;
  padding: 0;
  max-width: 744px;
  line-height: 1;
  background-image: url("../img/grid.png");
  background-position: center top;
  font-family: "Georgia", serif;
}

a {
  color: #369;
}

h1 {
  margin: 62px 0 0 0;
  padding: 7px;
}

h1 a {
  margin: 0 auto;
  display: block;
  width: 110px;
  height: 110px;
  overflow: hidden;
  text-decoration: none;
}

h1 a:before {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/blosxom.png");
  background-repeat: no-repeat;
  content: "\00a0";
}

#members ul {
  margin: 62px 0 0 0;
  padding: 0;
  text-align: center;
}

#members li {
  margin: 0;
  padding: 7px;
  display: inline-block;
  vertical-align: top;
}

#members li a {
  display: block;
  width: 48px;
  height: 48px;
  overflow: hidden;
  text-decoration: none;
}

#members li a:before {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  content: "\00a0";
}
