body {
  margin: 0;
  padding: 0;
  line-height: 1;
  background-image: url("../img/grid.png");
  background-position: center top;
}

h1 {
  margin: 62px 0 0 0;
  padding: 7px;
}

h1 a {
  margin: 0 auto;
  display: block;
  width: 110px;
  height: 110px;
  overflow: hidden;
  text-decoration: none;
}

h1 a:before {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/blosxom.png");
  background-repeat: no-repeat;
  content: "\00a0";
}

#members {
  text-align: center;
}

#members ul {
  margin: 62px auto 0 auto;
  padding: 0;
  display: table;
}

#members li {
  margin: 0;
  padding: 7px;
  display: table-cell;
}

#members li a {
  display: block;
  width: 48px;
  height: 48px;
  overflow: hidden;
  text-decoration: none;
}

#members li a:before {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  content: "\00a0";
}
